
@{
    ViewBag.Title = "Payed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="alert alert-success">
    <strong>Payment Successfull, Thank You for Shopping with us!</strong>
</div>