
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            
            <img style="height:550px;width:100%" src="../Images/4.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Mouses</h3>
                <p>We offer a wide range of second hand mouses at great prices.</p>
            </div>
        </div>
        <div class="item">
            
            <img style="height:550px;width:100%" src="../Images/2.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Keyboards</h3>
                <p>We offer a wide range of second hand keyboards at great prices.</p>
            </div>
        </div>
        <div class="item">
            
            <img style="height:550px;width:100%" src="../Images/5.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Headphones</h3>
                <p>We offer a wide range of second hand headphones at great prices.</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>


</div>

<br />

